<h2>Results</h2>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="/{{ question.id }}/results"> {{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
{% endif %}

<h2>Detail</h2>
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="/{{ question.id }}"> {{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
{% endif %}